[user]
    name = Jens Fredskov
    email = jsfr@users.noreply.github.com
[credential]
    helper = cache
[push]
    default = current
[alias]
    a = add
    aa = add -A
    batman = "!git commit -m \"Batman! (this commit has no parents)\""
    c = commit
    cb = create-branch -r
    d = diff
    db = delete-branch
    dc = diff --cached
    default-branch = "!git remote show origin | grep 'HEAD branch' | cut -d ' ' -f 5"
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=short --graph
    p = push
    re = restore
    s = status -sb
    st = stash
    sw = switch
    up = pull --all --rebase --autostash
    upd = "!git a -u && git yolo && git p"
    wip = commit -m "wip" --no-verify
    yolo = "!git commit -m \"YOLO: `curl -s http://whatthecommit.com/index.txt`\""
[core]
    editor = nvim
    pager = delta --theme="base16"
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
    changed = yellow
    untracked = cyan
[help]
    autocorrect = 1
[interactive]
    diffFilter = delta --color-only
[init]
	defaultBranch = main
