[user]
    name = Jens Fredskov
    email = jsfr@users.noreply.github.com
    signingKey = /Users/jens/.ssh/id_ed25519.pub
[credential]
    helper = cache
[push]
    default = current
[alias]
    fp = push --force-with-lease
    a = add
    aa = add -A
    au = add -u .
    batman = "!git commit -m \"Batman! (this commit has no parents)\""
    bb = "!better-git-branch.sh"
    c = commit
    cb = "!git switch $(git default-branch) && git up && git create-branch -r"
    co = checkout
    d = diff
    db = delete-branch
    dc = diff --cached
    default-branch ="!git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'"
    dft = difftool
    echo = "!echo $(git default-branch); echo"
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=short --graph
    p = push
    re = restore
    s = status -sb
    st = stash
    sw = switch
    swf = "!git switch $(git branch | fzf)"
    up = pull --all --rebase --autostash
    upd = "!git add -u && git yolo && git push"
    wip = commit -m "wip" --no-verify
    yolo = "!git commit -m \"`curl -s https://whatthecommit.com/index.txt`\""
[core]
    editor = nvim
    pager = delta
[help]
    autocorrect = prompt
[init]
    defaultBranch = main
[rerere]
    enabled = true
    autoUpdate = true
[column]
    ui = auto
[branch]
    sort = -committerdate
[maintenance]
    repo = /Users/jens/Repos/github.com/pleo-io/kerberos
    repo = /Users/jens/Repos/github.com/pleo-io/jvm-commons
    repo = /Users/jens/Repos/github.com/pleo-io/terraform
[interactive]
	diffFilter = riff --color=on
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
[merge]
    conflictstyle = zdiff3
[diff]
    colorMoved = default
    algorithm = histogram
[gpg]
    format = ssh
[pager]
	diff = riff
	show = riff
	log = riff
